/*
// index.scss <= main css file (all commons + customs)
*/
@import "commons/commons.scss";
@import "containerIcon";
@import "dark_mode.scss";
@import "skale.scss";

.content-center {
  height: calc(100vh - 60px);
}

/*// mdc fix*/
.mdc-linear-progress__primary-bar {
  background-color: $accent-color-gex;
}

.mdc-snackbar__action-button {
  color: $accent-color-gex !important;
}

.local-wallet-box {
  background-color: rgba(167, 167, 167, 0.20);
}

.mdc-menu-surface {
  margin-bottom: 10px;
}

.capitalize{
  text-transform: capitalize;
}