$skale-gray-1: #414142;
$skale-gray-2: #191919;
$skale-black: #000000;
$skale-yellow: #d9e021;
$skale-blue-1: #00aeef;
$skale-blue-2: #0000b5;

.skale-gray-1 {
  color: $skale-gray-1;
}

.skale-gray-1-bg {
  background-color: $skale-gray-1;
}

.skale-gray-2 {
  color: $skale-gray-2;
}

.skale-gray-2-bg {
  background-color: $skale-gray-2;
}

.skale-yellow {
  color: $skale-yellow;
}

.skale-yellow-bg {
  background-color: $skale-yellow;
}

.skale-blue-1 {
  color: $skale-blue-1;
}

.skale-blue-1-bg {
  background-color: $skale-blue-1;
}

.skale-blue-2 {
  color: $skale-blue-2;
}

.skale-blue-2-bg {
  background-color: $skale-blue-2;
}

