.git
.github
.venv
.vscode
.mypy_cache
.pytest_cache
.ruff_cache
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.log
helper-scripts/
hardhat-node/
scripts/
context/
codecov.yml
.codacy.yml
.coveragerc
.gitignore
.gitmodules
README.md
