node_modules/*
.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
package-lock.json

scripts/.env

static/

__pycache__/
*.pyc
.pypirc

server/*_tmp*
*_tmp*
*.db

log/
config/data.json

# terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

**/import_and_unlock.py
node_wallets.json

result.json

*.code-workspace

venv/
myenv/

# dkg binary
dkgpython.so

# tests
node_config.json
unique.json
test_abi.json
*.key
*.crt
*.csr

tests/skale-data/node_data/schains/*