peewee==3.9.5
PyMySQL==0.9.3

Flask==1.1.2
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==0.23
Werkzeug==0.15.5

docker==4.2.2
pyjwt==1.4.2
simple-crypt==4.1.7
pycryptodome==3.6.6
python-iptables==0.14.0

skale.py==4.0dev17
sgx.py==0.6dev13

PyYAML==5.3.1
psutil==5.7.0

colorful==0.5.4
celery==4.4.6
redis==3.2.1

filelock==3.0.12

pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-telegram-bot==12.8
gunicorn==20.0.4
