peewee==3.9.5
PyMySQL==0.9.3

Flask==2.0.2
Werkzeug==2.0.2
gunicorn==20.1.0

Jinja2==3.0.3

docker==4.2.2
pyjwt==1.4.2
simple-crypt==4.1.7
pycryptodome==3.12.0
python-iptables==0.14.0

skale.py==5.6dev6

ima-predeployed==1.1.0a26
etherbase-predeployed==0.0.1a24
marionette-predeployed==0.0.1a3
filestorage-predeployed==1.0.1.dev9
deployment-controller-predeployed==1.0.0.dev3
multisigwallet-predeployed==0.0.1a3
predeployed_generator==0.0.1a3

pyyaml==5.4
psutil==5.7.0

colorful==0.5.4
celery==4.4.6
redis==3.5.3

filelock==3.0.12

pyOpenSSL==19.1.0
cryptography==35.0.0
python-dateutil==2.8.1
python-telegram-bot==12.8
sh==1.14.1
